{%- assign date = nil -%}
{%- if page.date -%}
	{%- assign date = page.date | week_date -%}
	{%- if page.layout == 'project' -%}
		{%- assign date = date | prepend: "due " -%}
	{%- endif -%}
{%- elsif page.layout == 'week' -%}
	{%- include sorted_weeks.html -%}
	{%- assign current_week = page.name -%}
	{%- for week in weeks -%}
		{%- if week.name == current_week -%}
			{%- assign previous_week = forloop.index0 | minus: 1 -%}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}
	{%- for offset_week in (1..weeks.size) -%}
		{%- if weeks[previous_week].date -%}
			{% comment %} This offsets the date by a week (in seconds, thanks Liquid). {% endcomment %}
			{% comment %} Plus a day, since it counts from midnight. {% endcomment %}
			{%- assign offset_seconds = offset_week | times: 604800 | plus: 86400 -%}
			{%- assign date = (weeks[previous_week].date | date: '%s' | plus: offset_seconds) | week_date -%}
			{%- break -%}
		{%- else -%}
			{%- assign previous_week = previous_week | minus: 1 -%}
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}
